ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=307,END]
</IfModule>
